node-red_flow
[
    {
        "id": "30fe024208de2942",
        "type": "inject",
        "z": "b1030b2f57858aa0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "ad85e02fc7963ea0"
            ]
        ]
    },
    {
        "id": "ad85e02fc7963ea0",
        "type": "function",
        "z": "b1030b2f57858aa0",
        "name": "change address",
        "func": "var future_address      = 3;   // 1 - 247\nvar current_address     = 248; // The current address, alternatively 248 if unknown. (If 248, only the node whose address is to be changed may be connected to the bus)\n//------------------------------------------\nvar function_code       = 6;   // The PZEM supports the following function codes:\n                               // 0x03(3) Reading the configuration registers\n                               // 0x04(4) Reading the measured value registers\n                               // 0x06(6) Writing the configuration registers\n                               // 0x41(65) Calibration(can only be used via address 0xF8(248))\n                               // 0x42(66) Reset consumption counter\nvar register = 2;   //  Register    |   Description                     |  Resolution\n                    //  ----------  | --------------------------------  | ----------------------\n                    //  0x0000      | High voltage alarm threshold      | 1LSB correspond\n                    //              | (5 - 350V), default is 300V       | to 0.01V\n                    //  ----------  | --------------------------------  | ----------------------\n                    //  0x0001      | Low voltage alarm threshold       | 1LSB correspond\n                    //              | (1 - 350V) , defalut is 7V        | to 0.01V\n                    //  ----------  | --------------------------------  | ----------------------\n                    //  0x0002      | ModBus - RTU Address              | Range is\n                    //              |                                   | 0x0001 - 0x00F7\n                    //  ----------  | --------------------------------  | ----------------------\n                    //  0x0003      | The current range                 | 0x0001  100A\n                    //              | (only PZEM - 017)                 | 0x0002   50A\n                    //              |                                   | 0x0003  200A\n                    //              |                                   | 0x0004  300A \nvar how_many_register   = 1;\n\nmsg.payload = {\n    'value': future_address,\n    'fc': function_code,\n    'unitid': current_address,\n    'address': register,\n    'quantity': how_many_register\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "2c2f1042a3981d69"
            ]
        ]
    },
    {
        "id": "ec4d6b93af0a7a56",
        "type": "debug",
        "z": "b1030b2f57858aa0",
        "name": "debug 212",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "074b5da4be049b95",
        "type": "debug",
        "z": "b1030b2f57858aa0",
        "name": "debug 213",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c2f1042a3981d69",
        "type": "modbus-flex-write",
        "z": "b1030b2f57858aa0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "fabcbdccbf0c9613",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "074b5da4be049b95"
            ],
            [
                "ec4d6b93af0a7a56"
            ]
        ]
    },
    {
        "id": "fabcbdccbf0c9613",
        "type": "modbus-client",
        "name": "esp-bridge",
        "clienttype": "tcp",
        "bufferCommands": false,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "192.168.1.3",
        "tcpPort": "502",
        "tcpType": "TCP-RTU-BUFFERED",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "1500",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": false,
        "showLogs": false
    }
]
